<div class="container">
  <div class="top">
    <div class="title">
      Chat
    </div>
  </div>
  <div class="content">
    <div class="chat-link-list">
      <a target="_blank" href="/">
        <div class="chat-link">
          <div class="circle-avatar"></div>
          <div class="name">Client 1</div>
          <div class="tchat-text">Hello</div>
        </div>
      </a>
      <a target="_blank" href="/">
        <div class="chat-link">
          <div class="circle-avatar"></div>
          <div class="name">Client 2</div>
          <div class="tchat-text">Hello</div>
        </div>
      </a>

      <a target="_blank" href="/">
        <div class="chat-link">
          <div class="circle-avatar"></div>
          <div class="name">Client 3</div>
          <div class="tchat-text">Hello</div>
        </div>
      </a>
      <a target="_blank" href="/">
        <div class="chat-link">
          <div class="circle-avatar"></div>
          <div class="name">Client 4</div>
          <div class="tchat-text">Hello</div>
        </div>
      </a>
      

    </div>
    <div class="chat-body">
      <div>
        <input type="text" />
      </div>

    </div>

  </div>

</div>
